html {
    body {
        font-family: tahoma;
        line-height: 1.8;
        padding: 0;
        margin: 0;
        background-image: url("../image/fond.jpg");

        /*******************************NAV******************************************************/
        nav {
            position: fixed;
            height: 100%;
            width: 19%;

            ul {
                width: 65%;
                display: inline-block;
                vertical-align: middle;

                li {
                    display: block;
                    padding-bottom: 30px;
                    font-size: .8rem;
                    font-weight: bold;
                    cursor: pointer;
                    color: white;
                    text-transform: uppercase;
                }
            }
        }

        nav::before {
            content: '';
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
        }

        /******************************CONTAINER************************************/

        .container {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #fafafa;
            color: #262626;
            padding: 4rem;
            overflow: auto;
            transition: .2s ease;

            h1 {
                color: #05325D;
                text-align: center;
                margin-top: -30px;
                margin-bottom: 60px;
            }

            .div {
                display: flex;

                .planete {
                    margin: 20px;
                    padding: 10px;

                    h2 {
                        text-align: center;
                    }
                }
            }

            /***************************HAMBURGER**************************************/

            .hamburger {
                left: 1rem;
                top: 1rem;
                width: 1.5rem;
                height: .7rem;
                position: fixed;
                z-index: 2;
                cursor: pointer;

                span {
                    display: block;
                    background-color: #05325D;
                    height: 20%;
                    margin-bottom: 20%;
                    ;
                }
            }
        }
    }

    /***********************ANIMATION*************************************/

    @media screen and (orientation:portrait) {
        .container {
            padding: 4rem 1rem;
        }

        nav.active+.container {
            transform: translate(55%) scale(0.8);
            box-shadow: 0 0 30px 5px rgba(38, 38, 38, 0.3);
        }
    }

    @media screen and (orientation:landscape) {

        nav.active+.container {
            transform: translate(5%) scale(0.8);
            box-shadow: 0 0 30px 5px rgba(38, 38, 38, 0.3);
        }
    }
}